{% extends "orga/base.html" %}
{% load i18n %}
{% load rules %}

{% block extra_title %}Pretalx LLM Preferences :: {% endblock extra_title %}

{% block content %}
    <h2>Set your own preferences</h2>
    <form method="POST">
        {% csrf_token %}
        {{ preferences_form }}
        <button type="submit" class="btn-success float-right">Save</button>
    </form>
    
    <h2>Here are the preferences of other users:</h2>
    {% for preference in other_preferences %}
        <p><b>{{preference.user.name}} ({{preference.user.email}}):</b> {{preference.preference | linebreaksbr}}</p>
    {% endfor %}
{% endblock content %}
