{% extends "orga/base.html" %}
{% load i18n %}
{% load rules %}

{% block extra_title %}Pretalx LLM Search :: {% endblock extra_title %}

{% block content %}
    {% has_perm "orga.perform_reviews" request.user request.event as can_review %}

    {% include "pretalx_llm/llm_search_form.html" %}

    {% if withResults %}
        <div class="table-responsive-sm">
            <table class="table table-sm review-table table-hover table-flip table-sticky">
                <thead>
                    <th>Results</th>
                </thead>
                <tbody>
                    {% for submission in submissions %}
                        <tr>
                            <td>
                                {% include "pretalx_llm/submission_line.html" with submission=submission can_see_all_reviews=can_see_all_reviews %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}

{% endblock content %}
