{% extends "orga/base.html" %}
{% load i18n %}
{% load rules %}

{% block extra_title %}Pretalx LLM Suggestions :: {% endblock extra_title %}

{% block content %}
    {% has_perm "orga.perform_reviews" request.user request.event as can_review %}

    {% include "pretalx_llm/llm_suggestions_form.html" %}
    {% if withReviews %}
        <div class="table-responsive-sm">
            <table class="table table-sm review-table table-hover table-flip table-sticky">
                <thead>
                    <th>Suggestion</th>
                    <th>Related submission</th>
                </thead>
                <tbody>
                    {% for submission in submissions %}
                        <tr>
                            <td>
                                {% include "pretalx_llm/submission_line.html" with submission=submission can_see_all_reviews=can_see_all_reviews %}
                            </td>
                            <td>
                                {% include "pretalx_llm/submission_line.html" with submission=submission.hint can_see_all_reviews=can_see_all_reviews %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    {% else %}
        <h2>No reviews yet</h2>
        <p>Sorry, you need to review some submissions first before you can use this feature.</p>
    {% endif %}

{% endblock content %}
